.dataContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.data{
    width: 40%;
    padding: 5px 0px;
    box-sizing: border-box;
    font-size: 0.72rem;
    font-weight: 500;
}

.data:nth-child(even){
    text-align: right;
    padding-right: 5%;
}

.data:nth-child(odd){
    padding-left: 5%;
    color: #AB9AB8;
}